.section_introduce {
    a {
        text-decoration: none;
        color: #000000;
    }
    .intro-section {
        position: relative;
        h3 {
            margin-bottom: 10px;
            color: $primary;
        }
    
        .contact_title_line {
            position: relative;
            display: inline-block;
            width: 100px;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $primary;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            
            &::before {
                // margin-left: -5%;
            }
            
            &::after {
                margin-top: 3px;
            }
            
            .logo-image {
                position: relative;
                display: block;
                width: 25px;
                margin-top: 3px;
                margin-left: 50%;
                transform: translateX(-50%);
                z-index: 1;
            }
        }
    }
    .introduce_list{
        background-color: $summary_background;
        .line{
            position: relative;
            display: inline-block;
            width: 100%;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #60606093;
                bottom: 10%;
                left: 0;
                margin-bottom: 2px;
                transform: translateY(-50%);
            }

            a{
                margin-left: 15px;
            }
        }
    }
    .introduce_information{
        background-color: #FBF9F9;
        padding: 15px 25px;

        .list {
            h5{
                font-weight: 500;
                color: $primary;
                margin-bottom: 15px;
            }
            p{
                font-weight: 500;
            }
        }
    }
}